# 1

In [4]:
n=int(input("Enter the percent of marks"))
if n>100 or n<0:
    print("Invalid Marks")
elif n>90:
    print("Grade A")
elif n>80:
    print("Grade B")
elif n>60:
    print("Grade C")
else:
    print("Grade D")

Grade A

# 2

In [9]:
n=int(input("Enter the Cost price of the Bkile"))
if n>100000:
    print("the road tax amount is "+str(0.15*n))
elif n>50000:
    print("The Road Tax amount is "+ str(0.1*n))
else:
    print("The Road Tax amount is "+str(0.5*n))

The Road Tax amount is 25000.0

# 3

In [11]:
str=input("Enter the City Name")
if str=="Delhi":
    print("Monument is Red Fort")
elif str=="Agra":
    print("Monument is Taj Mahal")
elif str=="Jaipur":
    print("Monument is Jal Mahal")
else:
    print("Selsect Another City")

Monument is Taj Mahal

# 4

In [13]:
n=int(input("Enter a number"))
count=0
while(n>10):
    n=n/3
    count+=1
print(count)

3

# 5

In [16]:
# While loop is used when the number of times the loop must be iterated or executed is unkown
# find the fibonachi numbers upb to n
l=[1,1]
a=1
b=1
n=int(input("Enter a number"))
while(a+b<n):
    a,b=b,a+b
    l.append(b)
print(l)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

# 6

In [20]:
n=10
i=0
while(i<n):
    j=0
    while(j<n):
        print('*',end="")
        j+=1
    print("")
    i+=1

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [21]:
n=10
i=0
while(i<n):
    j=0
    while(j<i):
        print('*',end="")
        j+=1
    print("")
    i+=1

*
**
***
****
*****
******
*******
********
*********

In [35]:
n=10
i=0
while(i<n):
    j=0
    while(i+j<n):
        print(' ',end="")
        j+=1

    j=0
    while(j<i):
        print('**',end='')
        j+=1
    print("*")
    i+=1

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

# 7

In [38]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

# 8

In [39]:
i=10
while(i>0):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1